<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tourbase">

    <application
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".Tours">
        </activity>
        <activity android:name=".Auth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Main"/>
        <activity android:name=".Users"/>
        <activity android:name=".Hotels"/>
        <activity android:name=".Countries"/>
        <activity android:name=".UserProfile"/>
        <activity android:name=".UserAdd"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>